<div id="sidebar" data-spy="affix" data-offset-top="85" data-clampedwidth=".col-mid-3">
	<ul>
		<li><%= link_to "about", about_path %></li>
		<li><%= link_to "art", art_path %></li>
		<li>
		<%= link_to "coding", coding_path %></li>
		<li>
		<%= link_to "writing", writing_path %></li>
		<li>
		<%= link_to "bookshelf", bookshelf_path %>
		<div id="bookshelfSidebar" class="subSidebar"></div>
	</li>
	</ul>
</div>