<!DOCTYPE html>
<html>
<%= csrf_meta_tag %>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#bookshelfLinks">
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<div class="container">
	<div class="row nopadding">
		<div class="col-md-6 col-md-offset-1 top">
			Rita Zevallos. <%= link_to "person", about_path %>/<%= link_to "artmaker", art_path %>/<%= link_to "coder", coding_path %>/<%= link_to "writer", writing_path %>/<%= link_to "collector", bookshelf_path %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 sidebar-container">
			<%= render 'layouts/sidebar' %>
		</div>
		<div class="col-md-8 content" >
			<%= yield %>
		</div>
	</div>
	<div class="nopadding navbar-fixed-bottom footer">
		(All content and design by Rita Zevallos.)
	</div>
</div>

</body>
</html>
